API_ID=734877
API_HASH=f6343074d0a6a3d1ee9c2aa4eb01c7a3
BOT_TOKEN=2133100694:AAEFF8SZqWQ6qkQQ3aqh6ptv2itJfxuL0mc
SESSION_STRING=1AZWarzcBu12A8iOj0RksGyPWkmSfdvANDlfmSKboZoh_ztNoiEb_q_LxHq5mgQG-LBblU9idvQJK58QTzDA4J_SLDogb50_fXns1bvD71VakvXsGbd20WPwCn2-80PiOnhSlJ9voaYFXgtzH7cjL7GNEKs5evzvY5LRmvTdYz0cFljWsvzKJmgrN3946VQzi3MLiMm2ZnaS5dVZp5Uw7oibTq36Clzd2u7fo0Hop2EHM5WBpgajE4OteWRHIKPob-d_moWxD6VOBdGihampN_UExhpQqwtMI9mQzf7QZ-NDLewE4R5YHoY6YplYWTYYzf0N_FpKzHjG_gzpvC2fmw8mmhwerLBA=
CHAT=-1001329702915
ADMINS=1154006547
