API_ID=734877
API_HASH=f6343074d0a6a3d1ee9c2aa4eb01c7a3
BOT_TOKEN=2133100694:AAEFF8SZqWQ6qkQQ3aqh6ptv2itJfxuL0mc
SESSION_STRING=AQAZ7Jpszj5iU5DlQUkB19E_me_x_yNQOT_d5V-bFJfX38NXlQgUwlkN43QCRaTW5CMoAyUPF2oF0P1Wd_1amaZ5IvWSYhYZxYLo7CcvqejpmonGWG5lCzlb5NmvOamKS45tO9JK_LkpYdsuJFEd9yvM_S-v2z5rxtnOkHPqY3Ljen1Zqw1Zr5UtxlS7Er8XGiFMjhg4MDCo-p85eSMUvuppXWSqbJ0rROUQ4JXwAsmYreGwzbk4GH3KMbc7BScvmxcgPWqp4EDaek7aAZT083-SazmECK4eHg9i5B9OXoWNOwv-lvNA6n4ipoZJ-o-SxxdZWNnggLn9ctmxnAymOGAAAAAHNwqtsA
CHAT=-1001329702915
ADMINS=1154006547
