API_ID=734877
API_HASH=f6343074d0a6a3d1ee9c2aa4eb01c7a3
BOT_TOKEN=2133100694:AAEFF8SZqWQ6qkQQ3aqh6ptv2itJfxuL0mc
SESSION_STRING=1AZWarzcBu73u8kWaHNdsXoEi61ailMb80XSxlGMr2WWWFmrp9ub4IVfD_UCWLKOFzJ2j_hA0my0_XzBp4zPCh4j7NBHzR8SnKkt_p_Pf2_tosRVEUCvmvDgf-sqEhMsc0myyEeW96stAhf9bHVO4o2nWK1p8bnPkMGG59-s6rTAv-aF9tz5vLvc2bV1twUut4-vSF17TeCU73zLCVyhken6-MF1qunSNc_4Dr4F1xzjl6u27SvQY-eOZrTwIkduYV1RDg1rZjInGvtfgu-yCJh7LdnUqLm9BXlnH4nYPQsZUxbDGAnl5A4-DL-8A-YSn6ppbYEZ0I0jPi78NVYVmMIvcLvZ1lRM=
CHAT=-1001329702915
ADMINS=1154006547
